.app-notes{
    display: grid;
    color: white;
    text-align: center;

}
.header-notes-block {
    display: grid;
    grid-template-columns: 3fr 2fr 2fr 3fr 2fr 1fr;
    border: black solid;
    background-color: gray;
}
.body-notes-block {
    min-height: 300px;
    height: auto;
    padding: 10px;
    background-color: cadetblue;
}

.header-archive-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: black solid;
    background-color: gray;
}
.body-archive-block {
    height: auto;
    background-color: cadetblue;

}
.note-task {
    display: grid;
    grid-template-columns: 3fr 2fr 2fr 3fr 2fr 1fr;
    background-color: gray;
    margin-top: 5px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
    opacity: 0,1;
}
.item-archive-block{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* .edit-mode{
    display: none;
} */

.hide {
    display: none;
}

.row-template{
    display: none;
}
.hidden {
    display: none;
}

.archived {
    display: none;
}
img {
    width: 25px;
    height: 25px;
    filter: grayscale;
}

.item-header-notes img{
    width: 25px;
    height: 25px;
    filter: invert();
}